@import "variables";


header{
    h1{
        color: $colortextoencabezado;
        font-family: $fuente;
        font-size: $tamaniofuente;
        padding: 5%;
        display: flex;
        justify-content: center;
        background-image: url(../imagenes/fondo.jpg);
        
       
    }
}

.container{
    padding: 2%;

}
.card-text{
    color: $colortextoencabezado;
}
